<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.saget">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Saget"
        tools:targetApi="31">
        <activity
            android:name=".VistaPrincipalAdminActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:exported="false"
            android:theme="@style/Theme.Saget.Registro"/>
        <activity
            android:name=".InicioActivity"
            android:exported="false"
            android:theme="@style/Theme.Saget.Registro"/>
        <activity
            android:name=".VistaInicioActivity"
            android:exported="false"
            android:theme="@style/Theme.Saget.Registro">
        </activity>
        <activity
            android:name=".VistaPrincipalUsuarioActivity"
            android:exported="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.Saget.Registro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>